<pagination-controls  
              (pageChange)="onPagerChange($event)"
              (pageBoundsCorrection)="onPagerChange($event)"
              maxSize="9"
              directionLinks="true"
              autoHide="false"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
</pagination-controls>

